<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.WordList">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="com.example.WordList.Database.DatabaseProvider"
            android:authorities="com.example.WordList.provider"
            android:enabled="true"
            android:exported="true"></provider>

        <activity android:name="com.example.WordList.UI.AlterActivity" />
        <activity android:name="com.example.WordList.UI.DeleteActivity" />
        <activity android:name="com.example.WordList.UI.ADDActivity" />
        <activity android:name="com.example.WordList.UI.newWordActivity" />
        <activity android:name="com.example.WordList.UI.WebActivity" />
        <activity android:name="com.example.WordList.UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>